{% extends "admin/admin-base.html" %}

{% block title %}学员任务管理{% endblock %}

{% block otherstyle %}
{% endblock %}

{% block otherscript %}
	<script type="text/javascript" src="{{STATIC_URL}}js/admin/student_task.js"></script>
{% endblock %}

{% block content %}
<table id="dg"  title="学员任务信息列表" class="easyui-datagrid" style="left:0;height:450px;position:relative;"
			data-options="
			url:'/admin/task/student_task/{{ request.session.user.id }}/',
			iconCls: 'icon-group',
			rownumbers:true,
			singleSelect:false,
			method:'get',
			pagination:true,
			loadMsg:'数据装载中......',
			toolbar:'#toolbar' 
			">
	<thead>
		<tr>
			<th data-options="field:'ck',checkbox:true,width:50">全选</th>
			<th data-options="field:'task_name',width:250" formatter="taskNameFormatter">任务名称</th>
			<th data-options="field:'course_count',width:200" formatter="courseCountFormatter">任务课程</th>
			<th data-options="field:'task_precent',width:220"  formatter="learnProgressFormatter">任务学习进度</th>
			<th data-options="field:'validtime',width:180"  formatter="learnValidTimeFormatter">任务期限</th>
			<th data-options="field:'task_status',width:100" formatter="learnIsPassedFormatter">是否通过</th>
			<th data-options="field:'learn_detail',width:100" formatter="learnDetailFormatter">详情查看</th>
		</tr>
	</thead>
</table>
{% endblock %}