{% extends "admin/admin-base.html" %}

{% block title %}学员信息编辑{% endblock %}

{% block otherstyle %}
	<style type="text/css">
		.validatebox-style {
			width:300px;border:1px solid #8db2e3;
			line-height: 16px;
		}
		.textarea-style {

			width:360px;border:1px solid #8db2e3;
			height:120px;
			margin-left: 40px;
		}

		table {
			margin-top: 0px;
		}
		table tr {
			height:30px;
		}

		.left-td {
			font-size:14px;
			font-weight: bold;
			color: #0E2D5F;
			text-align:right;
			padding-right: 20px;
		}
	</style>
{% endblock %}

{% block otherscript %}
	<script src="{{ STATIC_URL }}js/admin/student_edit.js"></script>
{% endblock %}

{% block content %}
<div class="easyui-panel" data-options="border:false">
	<div style="width:500px;height:100%;margin:0 auto">
		<form id="form1" method="post" enctype="multipart/form-data" action="/admin/student/add/">
			{% csrf_token %}
			<table width="100%">
				<tr>
					<td class="left-td" width="20%">用户名：</td>
					<td width="80%">
						<input type="text" class="easyui-validatebox validatebox-style" data-options="required:true,missingMessage:'用户名不能为空'" id="student_username" name="student_username"
						value="{{ student.student_username }}"/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >性别：</td>
					<td >
						<select class="easyui-combobox validatebox-style" data-options="required:true,missingMessage:'此项比选'" id="student_gender" name="student_gender">
							<option value="True" >男</option>
							<option value="False" >女</option>
						</select>
						{% if student.student_gender %}
						<script type="text/javascript">
							$(function(){
								$('#student_gender').combobox('setValue','True');
							});
						</script>
						{% else %}
						<script type="text/javascript">
							$(function(){
								$('#student_gender').combobox('setValue','False');
							});
						</script>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="left-td" >年龄：</td>
					<td >
						<input type="text" class="easyui-numberbox validatebox-style" data-options="required:true,missingMessage:'年龄不能为空'" id="student_age" name="student_age"
						value="{{ student.student_age }}"/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >头像：</td>
					<td >
						<input class="validatebox-style" type="file" id="student_head_portrait" name="student_head_portrait"
						{% if student.student_head_portrait %}
						title="已有头像，可以点击替换"
						{% else %}
						title="暂无头像，可以点击选择"
						{% endif %}
						/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >身份证：</td>
					<td >
						<input class="validatebox-style easyui-numberbox" type="text" id="student_identity" name="student_identity" data-options="required:true,missingMessage:'身份证不能为空'" 
						value="{{ student.student_identity }}"/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >真实姓名：</td>
					<td >
						<input class="validatebox-style easyui-validatebox" type="text" id="student_realname" name="student_realname" data-options="required:true,missingMessage:'真实姓名不能为空'" 
						value="{{ student.student_realname }}"/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >密码：</td>
					<td >
						<input class="validatebox-style easyui-validatebox easyui-tooltip" type="password" id="student_userpwd"  name="student_userpwd" title="不填密码为身份证后6位" 
						value="{{ student.student_userpwd}}"/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >邮箱：</td>
					<td >
						<input type="text" class="easyui-validatebox validatebox-style" data-options="required:true,missingMessage:'邮箱不能为空'" id="student_email" name="student_email"
						value="{{ student.student_email }}"/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >联系方式：</td>
					<td >
						<input type="text" class="easyui-validatebox validatebox-style" data-options="required:true,missingMessage:'联系方式不能为空'" id="student_tele" name="student_tele"
						value="{{ student.student_tele }}"/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >部门：</td>
					<td >
						<input type="text" class="easyui-validatebox validatebox-style" data-options="required:true,missingMessage:'部门不能为空'" id="student_department" name="student_department"
						value="{{ student.student_department }}"/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >职位：</td>
					<td >
						<input type="text" class="easyui-validatebox validatebox-style" data-options="required:true,missingMessage:'职位不能为空'" id="student_position" name="student_position"
						value="{{ student.student_position }}"/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >职位编号：</td>
					<td >
						<input class="validatebox-style easyui-validatebox" type="text" id="student_positionid" name="student_positionid" data-options="required:true,missingMessage:'职位编号不能为空'"
						value="{{ student.student_positionid }}"/>
					</td>
				</tr>
				<tr>
					<td class="left-td" >状态：</td>
					<td >
						<select class="easyui-combobox validatebox-style" data-options="required:true,missingMessage:'此项比选'" id="student_status" name="student_status">
							<option value="True" >可用</option>
							<option value="False">不可用</option>
						</select>
						{% if student.student_status %}
						<script type="text/javascript">
							$(function(){
								$('#student_status').combobox('setValue','True');
							});
						</script>
						{% else %}
						<script type="text/javascript">
							$(function(){
								$('#student_status').combobox('setValue','False');
							});
						</script>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="left-td" >
						备注：
					</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">
					<textarea class="easyui-validatebox textarea-style" type="text" id="student_remark" name="student_remark" >{{ student.student_remark }}</textarea>
					</td>
				</tr>
				<tr >
					<td colspan="2" >
						<span style="width:200px;margin-left:150px;font-weight:bolder;">
							<a href="javascript:void(0)"  class="easyui-linkbutton" onclick="" id="submit">保存</a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#form1').form('clear')">取消</a>
						</span>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}