{% extends "admin/admin-base.html" %}

{% block title %}{% endblock %}

{% block otherstyle %}

{% endblock %}

{% block otherscript %}
	<!-- Load plupload and all it's runtimes and finally the jQuery queue widget -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/plupload.full.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.plupload.queue.min.js"></script>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
	<script type="text/javascript">
	// Convert divs to queue widgets when the DOM is ready
	$().ready(function() {
		$("#uploader").pluploadQueue({
			// General settings
			runtimes : 'flash,silverlight,html5',
			url : 'filestorage',
			max_file_size : '500mb',
			chunk_size : '9mb',
			unique_names : true,

			// Resize images on clientside if we can
			resize : {width : 320, height : 240, quality : 90},

			// Specify what files to browse for
			filters : [
				//{title : "Image files", extensions : "jpg,gif,png"},
				//{title : "Zip files", extensions : "zip"}
			],

			// Flash settings
			flash_swf_url : '{{ STATIC_URL }}js/Moxie.swf',

			// Silverlight settings
			silverlight_xap_url : '{{ STATIC_URL }}js/Moxie.xap'
		});

		// Client side form validation
		$('form1').submit(function(e) {
			var uploader = $('#uploader').pluploadQueue();

			// Validate number of uploaded files
			if (uploader.total.uploaded == 0) {
				// Files in queue upload them first
				if (uploader.files.length > 0) {
					// When all files are uploaded submit form
					uploader.bind('UploadProgress', function() {
						if (uploader.total.uploaded == uploader.files.length)
							$('form1').submit();
					});

					uploader.start();
				} else
					alert('You must at least upload one file.');

				e.preventDefault();
			}
		});
	});
	</script>

{% endblock %}

{% block content %}

	<form id="form1"  method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="files" id="files">
		<div id="uploader">
			<p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
		</div>
		<input type="submit" value="submit" />
	</form>


{% endblock %}